---
---

//// VARIABLES ////
// colors
$white: #f4f4f4;
$black: rgba(0, 0, 0, 0.84);
$yellow: rgb(255, 255, 0);

// fonts
$serif: "Playfair Display";
$monospace: "Inconsolata";
$light-weight: 400;
$serif-bold-weight: 800;
$monospace-bold-weight: 700;

//// STYLES ////
body {
  margin: 0;
  font-family: $monospace;
  color: $black;
  background-color: $white;
}

#site {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#links {
  width: 25%;
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

h1 {
  font-size: 2em;
  max-width: 75%;
  text-align: center;
}

a {
  color: #00449e;
  text-decoration: none;
}

.highlight {
  background-color: $yellow;
}
