---
---

// breakpoints
$break-large: 1200px;

// colors
$white: #FFFFFF;
$black: rgba(0, 0, 0, 0.84);
$yellow: rgb(255, 255, 0);

// fonts
$heading-font: 'Monserrat';
$primary-font: 'Inconsolata';
$primary-font-color: $black;

// borders, gutters, etc.
$gutter: 0 2em;

// styles
body {
  margin: 0;
  font-family: $primary-font;
  color: $primary-font-color;
}

h1, h2 {
  font-family: $heading-font;
}

h1 {
  font-size: 3em;
}

.menu-container {
  position: fixed;
  width: 100%
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu-content {
  // display: none;
  width: 0;
  opacity: 0;

  &--active {
    display: flex;
    flex-direction: column;
    background-color: $yellow;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    transition: all 1s;
  }
}

.scroll-link {
  padding: 1em;
}

.fa {
  color: $black;
}

.intro-container {
  height: 100vh;
  padding: $gutter;
}

.intro {
  padding-top: 2em;

  @media screen and (min-width: $break-large) {
    max-width: 60%;
  }
}

.highlight {
  background-color: $yellow;
}

.section {
  min-height: 100vh;

  &--title {
    background-color: $yellow;
    padding: 1em 2em;
  }
}