body {
  margin: 0px;
  padding:0px;
}

img {
  position: relative;
}

header {
  background-color: #4a6084;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 200%;
  font-size: 2em;
  letter-spacing: 300%;
  color: white;
  height: 20%;
  width: 100%;
  padding-left: 4%;
  position: relative;
  display: inline-block;
}

.sidebar {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  color: black;
  line-height: 220%;
  float: left;
  width: 10%;
  margin-left: 4%;
}

.sidebar a {
  text-decoration: none;
  color: black;
}

.sidebar a:visited {
  color: black;
}

section article h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75em;
}

section article h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

section article h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  font-style: italic;
}

.content {
  font-family: 'Karla', sans-serif;
  color: black;
  float: right;
  width: 80%;
  margin-right: 4%;
  margin-top: 0.5%;
  margin-bottom: 2%
}

code {
  background-color:#eeeeee;
}

footer {
  font-family: 'Open Sans', sans-serif;
  background-color: #4a6084;
  color: white;
  text-align: center;
  width: 100%;
  height: 5%;
  position: fixed;
  bottom: 0px;
  clear: both;
}