body {
  margin: 0px;
  padding:0px;
  background-color: #f2e9e9;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

header {
  background-image: url("../imgs/background2.1.png");
  font-family: 'Open Sans', sans-serif;
  text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
              #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
  font-size: 2em;
  color: #f2e9e9;
  height: 20%;
  width: 100%;
  padding-left: 4%;
  position: relative;
  display: inline-block;
}

h2 {
  font-family: 'Open Sans', sans-serif;
}

.sidebar {
  color: black;
  line-height: 320%;
  float: left;
  width: 10%;
  margin-left: 4%;
}

.content {
  font-family: 'Karla', sans-serif;
  color: black;
  float: right;
  width: 80%;
  margin-right: 4%;
  margin-top: 0.5%;
}

.content a {
  color: #842B27;
}

code {
  background-color:#eeeeee;
}

footer {
  font-family: 'Open Sans', sans-serif;
  background-image: url("../imgs/background2.1.png");
  color: white;
  text-align: center;
  width: 100%;
  height: 5%;
  position: fixed;
  bottom: 0px;
  clear: both;
}